<div class="pagination__block pagination__block-js">
  <ul class="pagination__list">
    <li class="pagination__item create-left-arrows-js">
      <button
        type="button"
        class="pagination__btn-arrow-l pagination__btn-first-page-js"
      >
        <svg width="7" height="13" class="arrow__svg">
          <use
            href="/src/img/symbol-defs_pagination.svg#icon-slider2-left"
          ></use>
        </svg>
        <svg width="7" height="13" class="arrow__svg">
          <use
            href="/src/img/symbol-defs_pagination.svg#icon-slider1-left"
          ></use>
        </svg>
      </button>
      <button class="pagination__btn-arrow-l pagination__btn-per-page-js">
        <svg width="7" height="13" class="arrow__svg">
          <use
            href="/src/img/symbol-defs_pagination.svg#icon-arrow-to-left"
          ></use>
        </svg>
      </button>
    </li>
    <li class="pagination__item">
      <ul class="pagination__item-create-pages pagination__item-js"></ul>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn-arrow-r pagination__btn-next-page-js">
        <svg width="7" height="13" class="arrow__svg">
          <use href="/src/img/symbol-defs_pagination.svg#icon-NumberPage"></use>
        </svg>
      </button>
      <button class="pagination__btn-arrow-r pagination__btn-last-page-js">
        <svg width="7" height="13" class="arrow__svg">
          <use
            href="/src/img/symbol-defs_pagination.svg#icon-slider1-right"
          ></use>
        </svg>
        <svg width="7" height="13" class="arrow__svg">
          <use
            href="/src/img/symbol-defs_pagination.svg#icon-slider2-right"
          ></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
