<div class="support">
  <div class="support-title-wrapper">
    <h3 class="support-main-title">Support Ukraine</h3>
    <svg class="support-emblem" width="20" height="32">
      <use href="./img/symbol-defs.svg#icon-Group-2"></use>
    </svg>
  </div>
  <div class="swiper">
    <ul class="support-list-js swiper-wrapper"></ul>
  </div>
  <button
    class="support-btn swiper-button-next"
    type="button"
    aria-label="swipe fund`s list down button"
  >
    <svg class="support__btn-icon" width="12px" height="6px">
      <use href="/bookshelf-team-project/assets/symbol-defs-b5bfa89c.svg#icon-slider-down"></use>
    </svg>
  </button>
</div>
