  .categories-list-container{
    margin-bottom: 40px;
  } 
  
  .support-container{
    margin-bottom: 40px;
  }

  .last-word{
    color: rgba(79, 46, 232, 1);
  }
       /*all books  **********************************/
.title-book-section{
        font-family: DM Sans;
        font-size: 38px;
        font-weight: 700;
        line-height: 119%;
    letter-spacing: -0.04em;
      margin-bottom: 40px;
      } 
  
.book-item:nth-child(n + 2) {
        display: none;
      }

.book-card {
        width: 335px;
        height: 485px;
        border-radius: 8px;
        cursor: pointer;
        }
.book-item:hover{
  transform: scale(1.04);
}

.book-item-container{
  margin-bottom: 40px;
}

.book-card-hover-text{
  visibility: hidden;
}

.book-details{
 
  width: 335px;
  
}

.book-title{
  width: 335px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  /* -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical; */
}

.book-author{
  width: 335px;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 0.04em;
  color:rgba(180, 175, 175, 1);
   width: 180px; 
   white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
.see-more-btn {
  border: 2px solid var(--violet);
  border-radius: 40px;
  padding: 14px 28px;
  
  height: 46px;
  font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--black);
    padding: 14px 28px;
    right: 0;
    margin-left: 165px;
}
.see-more-btn:hover, .see-more-btn:focus{
  background-color: var(--violet);
}
.see-more-btn:hover{
  transform: scale(1.05);
    transition: all 100ms ease-in-out;
    box-shadow: 0px 0px 8px 4px rgba(79, 46, 232, 0.5);
}



    @media screen and (min-width: 768px) {

  .all-categories-main{
   display: flex;
   flex-wrap: wrap;
   /* height: 336px; */
   gap: 25px;
   margin: 0 auto;
  }  
  
  .title-book-section{
    font-family: DM Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 108%;
letter-spacing: -0.04em;
  margin-bottom: 40px;
  } 
  .book-card-container {
    position: relative;
    display: inline-block;
    height: 316;
    
  }

  .book-item:nth-child(n + 2) {
    display: flex;
  }
  .book-item:nth-child(n + 4) {
    display: none;
  }
  

.book-card{
  width: 218px;
  height: 316px;
}

.book-card-hover-text{
  visibility: hidden;
}

.book-details{
  width: 218px;
}

.book-title{
  width: 218px;
}

.book-author{
  width: 218px;
}

.see-more-btn{
  margin-left: 580px;
}
    }

    @media screen and (min-width: 1440px) {

      .all-categories-main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
      }

      .book-item-container {
        position: relative;
        
      } 
      
    .book-card-container {
        position: relative;
        display: inline-block;
        /* width: calc((100% - 96px) / 5); */
        height: 256px;
    }

    .book-item{
      /* width: calc((100% - 96px) / 5) */
   
    }
    
    .book-item:nth-child(n + 4) {
      display: flex;
    }


.book-card {
    width: 180px;
    height: 256px;
    border-radius: 8px;
    }

.book-card-hover-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.04em;
    text-align: left;
    background-color: rgba(234, 198, 69, 1); 
    color: black; 
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 5px; 
    box-sizing: border-box; 
    opacity: 0; 
    transition: opacity 0.3s; 
    visibility: visible;
    }

    
.book-card-container:hover .book-card-hover-text{
    opacity: 1;
    }
    
.book-details {
 
      /* width: 360px;
      height: 48px;
      background: #fff;
      display: flex;
      flex-direction: column; */
      width: 180px;
      /* padding: 10px; */
    }
    
.book-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 110%;
      letter-spacing: 0.04em;
      color:rgba(17, 17, 17, 1);
      width: 180px;
    }
  .book-author{
    width: 180px;
  }  
/* .book-author {
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color:rgba(180, 175, 175, 1);
     width: 180px; 
    }  */

    .see-more-btn{
      margin-left: 862px;
    } 

    }
    .popular-title{
      text-transform: uppercase;
      margin-top: 40px;
      margin-bottom: 18px;
      width: 277px;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: 0.03em;
      color: rgba(180, 175, 175, 1)
    }
    .li-title{
      width: 100%;
    }
    .loader {
      width: 48px;
      height: 48px;
      border: 5px dotted #000000;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      animation: rotation 2s linear infinite;
    }
  
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
  
      100% {
        transform: rotate(360deg);
      }
    }