/* switch styles */
/* change svg later */

body.dark {
  color: var(--white);
  background-color: var(--black-1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header {
    background-color: var(--black);
    border-color: var(--white);
  }

  .switch-theme-checkbox-label {
    background: linear-gradient(180deg, var(--violet) 0%, #686868 100%);
    box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  }

  .mobile-menu-svg {
    stroke: var(--violet);
  }

  .switch-theme-checkbox-label .switch-ball {
    box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.5);
  }

  .nav-list-item {
    stroke: var(--white);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-logo-name {
    fill: var(--white);
  }

  .categories-list-item,
  .shopping-list-empty-paragraph {
    color: #b4afaf;
  }

  .categories-list-item:hover,
  .categories-list-item:focus,
  .categories-list-item:active {
    color: var(--yellow);
  }

  .shopping-list-title {
    color: var(--white);
  }

  .book-title {
    color: var(--white);
  }
  .book-author {
    color: #b4afaf;
  }

  .modal-content-container {
    background-color: var(--black-1);
    border: 2px solid var(--white);
  }
 .modal{
   background-color: var(--black-1);
   border: 2px solid var(--white);
 }
  .sign-input {
    border: 2px solid var(--white);
    background-color: var(--black-1);
    color: var(--white);
    font-size: 18px;
  }

  .sign-input::placeholder {
    color: var(--white);
  }

  .input-svg {
    stroke: var(--white);
  }

  .signUpBtn,
  .signInBtn {
    background-color: var(--white);
    color: var(--black);
  }

  .signUpBtn:hover,
  .signInBtn:hover {
    background-color: var(--violet);
  }

  .closeModalBtn {
    stroke: var(--white);
  }

  .signupOptions .signInOption,
  .signupOptions .signUpOption {
    color: rgba(246, 246, 246, 0.5);
  }
  .signupOptions .signInOption.active,
  .signupOptions .signUpOption.active {
    color: #4f2ee8;
    text-decoration: underline;
  }
}

.switch-theme-checkbox {
  opacity: 0;
  position: absolute;
}

.switch-theme-checkbox-label {
  background: linear-gradient(180deg, var(--violet) 0%, #dcdcdc 100%);
  box-shadow: inset 1px 0px 2px 0 rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 20px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-theme-checkbox-label .switch-ball {
  background-color: var(--white);
  box-shadow: inset 1px 0px 1px 0px rgba(0, 0, 0, 0.5);
  width: 18px;
  height: 18px;
  position: absolute;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.switch-theme-checkbox:checked + .switch-theme-checkbox-label .switch-ball {
  transform: translateX(20px);
}

/* mobile version start */
.header {
  border: 1.5px solid var(--black);
  border-radius: 0 0 8px 8px;
  width: 100%;
  height: 64px;
  background: var(--white);
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  width: 109px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo-link {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.header-logo-svg {
  display: flex;
}

.nav-list,
.burger-menu-close-btn,
.header-login-btn,
.burger-menu {
  display: none;
}

.content-wrapper {
  display: flex;
  padding: 18px 20px;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.switch_burger-menu-wrapper {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: space-between;
}

.burger-menu-open-btn,
.burger-menu-close-btn {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

.mobile-menu-svg,
.mobile-menu-svg {
  stroke: var(--black);
  display: flex;
}

.modal-sign-container {
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    var(--white) 100%
  );
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  z-index: 20;
}

.modal {
  background-color: var(--white);
  text-align: center;
  border: 2px solid var(--black);
  border-radius: 18px;
  width: 335px;
  height: 384px;
  padding: 40px 20px;
  position: relative;
}

.closeModalBtn {
  position: absolute;
  top: 14px;
  right: 14px;
  stroke: var(--black);
  cursor: pointer;
}

.sign-input {
  width: 100%;
  border: 2px solid var(--black);
  border-radius: 40px;
  padding: 16px 173px 16px 24px;
  height: 50px;
  margin-bottom: 24px;
  color: var(--black);
  font-size: 16px;
  outline-color: #4f2ee8;
}

.sign-input::placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--black);
}

.input-container {
  position: relative;
  height: 50px;
  margin-bottom: 24px;
}

.input-svg {
  position: absolute;
  top: 50%;
  right: 21px;
  transform: translateY(-50%);
  height: auto;
  stroke: var(--black);
}

.sign-up-form,
.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signUpBtn,
.signInBtn {
  border-radius: 40px;
  padding: 16px 116px;
  height: 50px;
  width: 100%;
  background-color: var(--black);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.125;
  letter-spacing: -0.01em;
  line-height: 18px;
  text-transform: uppercase;
}

.signupOptions .signInOption.active,
.signupOptions .signUpOption.active {
  color: #4f2ee8;
  text-decoration: underline;
}

.signUpBtn:hover,
.signInBtn:hover {
  background-color: #4f2ee8;
}

.input-svg {
  width: 18px;
  height: 18px;
}

.signupOptions {
  text-align: center;
  margin-top: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.signupOptions .signInOption,
.signupOptions .signUpOption {
  color: rgba(17, 17, 17, 0.5);
}

.signInOption,
.signUpOption {
  margin-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

/* mobile version end */

@media (min-width: 768px) {
  .header-login-btn {
    display: block;
  }

  .nav {
    gap: 40px;
  }

  .switch-signup-wrapper {
    display: flex;
    gap: 24px;
  }

  .nav-list {
    /* width: 220px; */
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    transition: background-color 0.5s linear;
  }

  .burger-menu-open-btn,
  .burger-menu-close-btn {
    display: none;
  }

  .mobile-menu-svg,
  .mobile-menu-svg {
    display: none;
  }

  .header {
    height: 72px;
  }

  .header-login-btn,
  .mobile-login-btn {
    width: 184px;
    height: 45px;
    background-color: var(--violet);
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px;
    border: 1.5px solid var(--black);
    border-radius: 18px;
    align-items: center;
  }

  .header-login-btn:hover {
    transform: scale(1.05);
    transition: all 100ms ease-in-out;
    box-shadow: 0px 0px 8px 4px rgba(79, 46, 232, 0.5);
  }

  .mobile-login-btn:focus,
  .mobile-login-btn:active {
    transform: scale(1.05);
    transition: all 100ms ease-in-out;
    box-shadow: 0px 0px 8px 4px rgba(79, 46, 232, 0.5);
  }

  .nav-link-shopping-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  .current-page {
    background-color: var(--yellow);
    font-weight: 700;
  }

  .nav-list-item {
    padding: 8px 16px;
    border-radius: 36px;
    transition: background-color 500ms linear;
    stroke: var(--black);
  }

  .burger-menu {
    display: none;
  }

  /* modal sign up section styles */

  .modal {
    width: 579px;
    height: 516px;
    padding: 80px 40px;
  }

  .closeModalBtn {
    top: 24px;
    right: 24px;
  }

  .sign-input {
    padding: 20px 173px 20px 40px;
    height: 64px;
    margin-bottom: 28px;
    font-size: 18px;
  }

  .sign-input::placeholder {
    font-size: 18px;
  }

  .input-container {
    height: 64px;
    margin-bottom: 28px;
  }

  .input-svg {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    right: 21px;
    transform: translateY(-50%);
    height: auto;
    stroke: var(--black);
  }

  .signUpBtn,
  .signInBtn {
    padding: 20px 173px;
    height: 64px;
    font-size: 18px;
    line-height: 24px;
    line-height: 1.33333;
  }

  .signupOptions {
    margin-top: 20px;
  }

  .signInOption,
  .signUpOption {
    margin-top: 12px;
    font-size: 18px;
    line-height: 24px;
    line-height: 1.33333;
  }

  #scrollUpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 10;
    border: none;
    outline: none;
    background-color: var(--violet);
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    box-shadow: 1px 0 15px 5px rgba(79, 46, 232, 0.3);
  }

  #scrollUpBtn:hover {
    transform: scale(1.2);
    box-shadow: 1px 0 15px 5px rgba(79, 46, 232, 0.7);
  }
}

@media screen and (min-width: 1440px) {
  /* container needs to be deleted later */
  .container {
    width: 1440px;
    padding: 0 24px;
  }

  .nav {
    gap: 76px;
  }

  .nav-list {
    gap: 12px;
    justify-content: space-between;
    display: flex;
  }
}

/* burger menu styles */
@media screen and (max-width: 768px) {
  .burger-menu {
    z-index: 1;
    position: absolute;
    top: 0;
    padding: 40px 20px 20px;
    width: 100%;
    /* height: calc(100vh - 64px); */
    margin-top: 64px;
    overflow: hidden;
    background: radial-gradient(
      189.32% 190.93% at 59.76% -23.42%,
      var(--violet) 18.03%,
      var(--white) 100%
    );
    transition: all 0.5s ease-in-out;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .burger-menu-bg-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  .mobile-login-btn {
    width: 184px;
    height: 48px;
    background-color: var(--violet);
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px;
    border: 1.5px solid var(--black);
    border-radius: 18px;
    align-items: center;
  }

  .burger-nav-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 16px;
  }

  .mob-content-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
  }

  .mobile-logout-btn {
    border: 1.5px solid var(--black);
    border-radius: 18px;
    width: 118px;
    height: 48px;
    background-color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.04em;
    position: fixed;
    bottom: 20px;
  }

  .burger-link-shopping {
    display: flex;
    justify-content: space-between;
  }

  .burger-list-item {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    cursor: pointer;
    color: var(--white);
  }

  .burger-link-shopping {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .current {
    border-radius: 36px;
    padding: 8px 16px;
    background-color: var(--yellow);
    color: var(--black);

    .burger-shopping-svg {
      stroke: var(--white);
    }
  }

  .burger-shopping-svg {
    stroke: var(--white);
  }
}
