       /* main section common styles *****************/

       .main-section {
           margin-top: 40px;
           margin-right: 20px;
           margin-left: 20px;
       }

/************* sidebar **********************************/