.modal-backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal-content-container {
  position: relative;
  padding: 40px 24px;
  background: #fff;
  border: 2px solid #111;
  border-radius: 18px;
  max-width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.modal-book-image {
  border-radius: 8px;
  width: 287px;
  height: 408px;
  margin-bottom: 20px;
}
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  stroke: var(--black);
}

.modal-btn {
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  width: 211px;
  height: 46px;
  transition: background-color 0.3s ease
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #4f2ee8;
  color: #fff;
}

.modal-author {
  font-style: italic;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.modal-shops-list {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.modal-book-info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-success-text {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(17, 17, 17, 0.5);
  position: relative;
  top: -20px;
}

@media screen and (min-width: 768px) {
  .modal-content-container {
    max-width: 579px;
    flex-direction: row;
    row-gap: 40px;
    column-gap: 24px;
    flex-wrap: wrap;
    align-items: start;
  }

  .modal-book-image {
    margin: 0;
    border-radius: 8px;
    width: 192px;
    height: 281px;
  }

  .modal-btn {
    width: 499px;
    height: 64px;
    text-transform: uppercase;
  }

  .modal-book-info {
    max-width: 300px;
    margin-bottom: 0;
  }
}
