.shopping-list-body {
  display: block;
}
.shop-support {
  display: none;
}
.shopping-list-flex {
  /* display: flex;
  flex-direction: row; */
}

.shopping-list-empty-container {
  margin: 0 auto;
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
}

.shopping-list-empty-paragraph {
  margin-top: 120px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  max-width: 244px;
}

.shopping-list-empty-img {
  max-width: 265px;
  max-height: 198px;
}

.shopping-list-title {
  color: #111;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
  margin-top: 40px;
}

.shopping-list-title-span {
  color: #4f2ee8;
}

.shopping-list-li-item {
  list-style: none;
  display: block;
}

.shopping-list-book-item {
  display: flex;
  padding: 14px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  position: relative;
  margin-bottom: 20px;
  transition: 100ms ease-in-out;
}
.shopping-list-book-item:hover {
  transform: scale(1.01);
}

.shopping-list-book-img {
  width: 100px;
  height: 142px;
  border-radius: 8px;
  background: #f6f6f6;
  margin-right: 14px;
}

.shopping-list-book-text {
  display: flex;
  flex-direction: column;
}

.shopping-list-book-title {
  color: #111;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 4px;
  overflow: hidden;
  max-width: 150px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.shopping-list-book-category {
  color: #b4afaf;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.shopping-list-book-description {
  color: #111;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.shopping-list-book-author {
  color: #b4afaf;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.04em;
  position: absolute;
  bottom: 14px;
  max-width: 100px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.shopping-list-book-links {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 14px;
  right: 14px;
  gap: 8px;
}

.shopping-list-amazon {
  width: 32px;
  height: 11px;
  transition: 250ms;
  filter: grayscale(100%);
}

.shopping-list-apple {
  width: 16px;
  height: 16px;
  transition: 250ms;
  filter: grayscale(100%);
}

.shopping-list-amazon:hover,
.shopping-list-apple:hover {
  transform: scale(1.6);
  fill: #4f2ee8;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

body.dark .shopping-list-amazon {
  filter: brightness(0) invert(1);
}

body.dark .shopping-list-amazon:hover {
  transform: scale(1.6);
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}

body.dark .shopping-list-apple {
  filter: grayscale(100%);
}

body.dark .shopping-list-apple:hover {
  transform: scale(1.6);
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}

.shopping-list-dlt-book-btn {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: #4f2ee8;
  border-radius: 50%;
  transition: 60ms;
}

.shopping-list-dlt-book-btn:hover,
.shopping-list-dlt-book-btn:focus {
  outline: 3px rgba(79, 46, 232, 0.3) solid;
}

.shopping-list-dlt-book-btn-icon {
  stroke: #ffffff;
  pointer-events: none;
  box-sizing: inherit;
}

@media screen and (min-width: 768px) {
  .shopping-list-container {
    min-width: 704px;
    min-height: 845px;
  }

  .shopping-list-empty-container {
    gap: 20px;
  }

  .shopping-list-empty-paragraph {
    margin-top: 140px;
    max-width: 349px;
    font-size: 18px;
    line-height: 1.33;
  }

  .shopping-list-empty-img {
    max-width: 322px;
    max-height: 241px;
  }

  .shopping-list-book-item {
    padding: 30px 24px;
  }

  .shopping-list-book-img {
    width: 116px;
    height: 165px;
    border-radius: 8px;
    margin-right: 24px;
  }

  .shopping-list-book-title {
    max-width: none;
  }

  .shopping-list-book-category {
    margin-bottom: 14px;
  }

  .shopping-list-book-author {
    bottom: 28px;
    max-width: 250px;
  }

  .shopping-list-book-links {
    bottom: 24px;
    right: 24px;
    gap: 16px;
  }

  .shopping-list-amazon {
    width: 48px;
    height: 15px;
  }

  .shopping-list-apple {
    width: 28px;
    height: 27px;
  }

  .shopping-list-dlt-book-btn {
    width: 34px;
    height: 34px;
    top: 24px;
    right: 24px;
  }

  .shopping-list-dlt-book-btn-icon {
    width: 24px;
    height: 24px;
  }
  .shopping-list-title {
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .shopping-list-body {
    display: grid;
  }
  .shop-support {
    display: inline;
  }

  .shopping-list-container {
    min-width: 996px;
    min-height: 845px;
  }

  .shopping-list-book-item {
    display: flex;
    padding: 30px 24px;
    border-radius: 16px;
    border: 2px solid rgba(79, 46, 232, 0.4);
    position: relative;
  }

  .shopping-list-book-img {
    width: 116px;
    height: 165px;
    background: #f6f6f6;
    margin-right: 24px;
  }

  .shopping-list-book-text {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .shopping-list-book-title {
    color: #111;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  .shopping-list-book-category {
    color: #b4afaf;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.015em;
    margin-bottom: 14px;
  }

  .shopping-list-book-description {
    color: #111;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.04em;
  }

  .shopping-list-book-author {
    color: #b4afaf;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.04em;
    bottom: 28px;
    max-width: 700px;
  }

  .shopping-list-book-links {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 24px;
    right: 24px;
    gap: 16px;
  }

  .shopping-list-dlt-book-btn {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 24px;
    right: 24px;
  }
}

.shopping-list-dlt-book-btn-icon {
  pointer-events: none;
}

.shopping-list-dlt-book-btn-icon > * {
  pointer-events: none;
}
