/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

@import url('./header.css');
@import url('./categories-list.css');
@import url('./modal.css');
@import url('./shopping-list.css');
@import url('./support-Ukraine-section.css');
@import url('./home.css');
@import url('./all-categories.css');
@import url('./loader.css');
@import url('./main-section.css')
